@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
  color: white;
}

h2 {
  font-size: 1.5rem; /* large text */
  font-weight: 600; /* make it bold */
  line-height: 1.3; /* tighten spacing */
  margin-bottom: 0.5em; /* space below */
  color: white; /* dark gray instead of pure black */
}

button {
  border: 1px solid white;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background: transparent;
  cursor: pointer;
}

input {
  border: 1px solid white;
  color: white;
  border-radius: 0.25rem;
  background: transparent;
  caret-color: white;
}

textarea {
  border: 1px solid white;
  color: white;
  border-radius: 0.25rem;
  background: transparent;
  caret-color: white;
}
