@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181a1b;
    --foreground: #c6c6c6;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
  color: #f1f1f1;
}

h2 {
  font-size: 1.5rem; /* large text */
  font-weight: 600; /* make it bold */
  line-height: 1.3; /* tighten spacing */
  margin-bottom: 0.5em; /* space below */
  color: #f1f1f1; /* dark gray instead of pure black */
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: 0.5em;
  color: #f1f1f1;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0.4em;
  color: #f1f1f1;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.45;
  margin-bottom: 0.4em;
  color: #f1f1f1;
}

h6 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.3em;
  color: #f1f1f1; /* slightly muted to reduce visual weight */
}

p {
  color: #c6c6c6;
}

span {
  color: inherit;
}

div {
  color: inherit;
}

button {
  border: 1px solid white;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background: transparent;
  cursor: pointer;
}

input {
  border: 1px solid white;
  color: white;
  border-radius: 0.25rem;
  background: transparent;
  caret-color: white;
}

textarea {
  border: 1px solid white;
  color: white;
  border-radius: 0.25rem;
  background: transparent;
  caret-color: white;
}

select {
  border: 1px solid white;
  color: black;
  border-radius: 0.25rem;
  background: #222425;
  caret-color: white;
  color: white;
}
